<?xml version="1.0" encoding="utf-8"?>
<behaviors>
  <serviceBehaviors>
    <behavior name="WCFSecurityBehavior">
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
      <!--<serviceAuthorization serviceAuthorizationManagerType="SomeAuthorizationManager, we can look up this when its time" />-->
      <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
  <!--<endpointBehaviors>
    <behavior name="TrackingEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
    </behavior>
    <behavior name="TrackingEndpointBehaviorWithDelegation">
      <clientCredentials>
        <windows allowNtlm="true" allowedImpersonationLevel="Delegation" />
      </clientCredentials>
    </behavior>
  </endpointBehaviors>-->
</behaviors>