<?xml version="1.0" encoding="utf-8" ?>
<bindings>
  <netTcpBinding>
    <binding name="netTcpBindingConfiguration"
             maxReceivedMessageSize="20000000"
             portSharingEnabled="true"
             closeTimeout="00:05:00"
             openTimeout="00:05:00"
             receiveTimeout="00:05:00"
             sendTimeout="00:05:00">
      <readerQuotas maxStringContentLength="1024000" maxArrayLength="20000000"/>
      <security mode="Transport">
        <transport clientCredentialType="Windows"
                   protectionLevel="EncryptAndSign" />
        <message clientCredentialType="Windows" />
      </security>
    </binding>
  </netTcpBinding>
  
    <basicHttpBinding>
      <binding name="basicHttpBindingConfiguration"
               maxReceivedMessageSize="20000000"
               portSharingEnabled="true"
               closeTimeout="00:05:00"
               openTimeout="00:05:00"
               receiveTimeout="00:05:00"
               sendTimeout="00:05:00">
        <readerQuotas maxStringContentLength="1024000" maxArrayLength="20000000"/>
        <security mode="Transport">
          <transport clientCredentialType="None"
                     protectionLevel="EncryptAndSign" />
          <message clientCredentialType="Username" />
        </security>
      </binding>
    </basicHttpBinding>
  
  <netNamedPipeBinding>
    <binding name="netNamedPipeBindingConfiguration"
             maxReceivedMessageSize="61440000" >
      <readerQuotas maxStringContentLength="61440000" maxArrayLength="20000000"/>
      <security mode="Transport">
        <transport protectionLevel="Sign" />
      </security>
    </binding >
  </netNamedPipeBinding>

  <wsHttpBinding>
    <binding name="wsHttpBindingConfiguration"
             maxBufferPoolSize="10485761"
             maxReceivedMessageSize="10485761">
      <security mode="Message">
        <transport clientCredentialType="Windows"
                   proxyCredentialType="None"
                   realm="" />
        <message clientCredentialType="Windows"
                 negotiateServiceCredential="true"
                 algorithmSuite="Default" />
      </security>
    </binding>
    <binding name="wsHttpBindingConfiguration2"
             maxBufferPoolSize="10485761"
             maxReceivedMessageSize="10485761">
      <security mode="Message">
        <transport clientCredentialType="Windows"
                   proxyCredentialType="None"
                   realm="" />
        <message clientCredentialType="Windows"
                 negotiateServiceCredential="true"
                 establishSecurityContext="false"
                 algorithmSuite="Default" />
      </security>
    </binding>
    <binding name="wsHttpBindingConfigurationWithoutSecurity"
             maxBufferPoolSize="10485761"
             maxReceivedMessageSize="10485761">
      <security mode="None"></security>
    </binding>
  </wsHttpBinding>
</bindings>