<?xml version="1.0" encoding="utf-8"?>
<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
  <serviceActivations>
    <add relativeAddress="Service.svc"
         service="FootballBetting.WCF.ServiceImplementation.FootballBettingService" />
  </serviceActivations>
</serviceHostingEnvironment>
