<?xml version="1.0" encoding="utf-8"?>
<services>
  <service name="FootballBetting.WCF.ServiceImplementation.FootballBettingService"
           behaviorConfiguration="WCFSecurityBehavior">
    <endpoint binding="wsHttpBinding" bindingConfiguration=""
              contract="FootballBetting.WCF.ServiceContracts.IFootballBettingService">
      <identity>
        <dns value="localhost" />
      </identity>
      <!--<baseAddresses>
        <add baseAddress="http://localhost/WCF.FTB.Host/" />
      </baseAddresses>-->
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>
</services>
