<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!--<services>
      <service behaviorConfiguration="MyBehavior"
        name="FootballBetting.WCF.ServiceImplementation.FootballBettingService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="FootballBetting.WCF.ServiceContracts.IFootballBettingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        --><!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/Service1" />
          </baseAddresses>
        </host>--><!--
      </service>
    </services>-->
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <!--MyConfigs-->
    <services configSource="services.config" />
    <serviceHostingEnvironment configSource="serviceHostingEnvironment.config" />
    <!--<extensions configSource="extensions.config" />-->
    <behaviors configSource="behaviors.config" />
    <!--<bindings configSource="bindings.config" />-->
    <!--<client configSource="client.config" />-->
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
        <add binding="basicHttpBinding" scheme="http" />
        <add binding="netTcpBinding" scheme="netTcp" />
    </protocolMapping>    
    <!--<serviceHostingEnvironment  aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
  <serviceActivations>
    <add relativeAddress="Service.svc" 
         service="FootballBetting.WCF.ServiceImplementation.FootballBettingService"/>
  </serviceActivations>
</serviceHostingEnvironment>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
